.sectionArea {
    position: relative;
    background: #fff;
    color: #000;
    width: 100vw;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.stripe {
    background:
        linear-gradient(45deg, #92baac 22px, transparent 22px)32px 32px,
        linear-gradient(45deg, #92baac 22px, transparent 22px,transparent 46px, #e1ebbd 46px, #e1ebbd 77px, transparent 77px),
        linear-gradient(-45deg, #92baac 12px, transparent 12px, transparent 34px,#92baac 34px,#92baac 57px,transparent 57px,transparent 79px,#92baac 79px);
    background-color:#e1ebbd;
    background-size: 64px 64px;
    width: 100vw;
    z-index: 2;
}

.stripeTop {
    height: 10px;
}

.stripeBottom {
    height: 40px;
    position: absolute;
    top: 500px;
}

.textTop {
    width: 60%;
    z-index: 2;
    margin-top: 50px;
    color: #fff;
    max-width: 250px;
}

.titleTop {
    text-transform: uppercase;
}

.textHighlight {
    color: #d32196;
}

.rightContent {
    text-transform: uppercase;
    color: #d32196;
}

.holder {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    height: max-content;
    z-index: 2;
    margin-top: 25px;
}


.backImage {
    position: absolute;
    top: 10px;
    width: 100vw;
    height: 100%;
    z-index: 0;
    /* Makes image lighter */
    filter: brightness(0.8);
}

.backImage img {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    height: 100%;
    object-position: center;
}

/* Area area*/
.areaRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: max-content;
    z-index: 2;
    margin-top: 10px;
}

.areaSpace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 140px;
}

.areaText {
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #d32196;
}

.areaImage {
    width: 90px;
    height: 90px;
}

.areaImage img {
    width: 90px;
    height: 90px;
}

@media (max-width: 800px) {
    .sectionArea {
        margin-top: 110px;
        height: 600px;
    }

    .textTop {
        margin-top: 0px;
        padding-top: 30px;
    }

    .textTop p {
        font-size: 0.8rem;
    }

    .backImage {
        top: 0;
    }

    .backImage img {
        object-position: 50% 100%;
    }

    .holder {
        width: 90vw;
        margin: 10px 0;
        font-size: 1.1rem;
        flex-direction: row;
    }

    .leftContent img {
        width: 40px;
        height: 40px;
        margin: 0px 10px;
    }

    .rightContent {
        font-size: 1rem;
    }

    .actionButton {
        width: 210px;
        font-size: 0.8rem;
        padding: 10px;
    }

    .playIcon {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 14px solid #d32196;
        top: auto;
        right: 10px;
    }

    .areaRow {
        flex-direction: column;
        margin-top: 0px;
    }

    .areaSpace {
        width: 100%;
        height: 90px;
        margin: 15px 0;
    }

    .areaText {
        margin-top: 5px;
    }

    .areaImage {
        width: 75px;
        height: 75px;
    }
    
    .areaImage img {
        width: 75px;
        height: 75px;
    }

    .stripeBottom {
        top: 600px;
    }
}