.sectionArea {
    width: 100vw;
    height: min(70vh, 40vw);
    display: flex;
    justify-content: space-around;
    background-color: #d6d8e3;
    color: #212427;
    padding: 3vh 10px 0 4vw;
    position: relative;
}

.textArea {
    display: flex;
    width: 35%;
    flex-direction: column;
}

.marginText {
    margin-right: 2vw;
}

.cardsArea {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 0 1vw 1vw 1vw;
}

.card {
    width: 30%;
    height: min(35vw,100%);
    background-color: #F0F0F0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0.2vh 2vw 5vh 2vw;
}

.cardTitle {
    font-size: 4.7vw;
    margin-bottom: 3vh;
    font-family: MontserratArabic;
}

.cardSubTitle {
    font-size: 2.2vw;
    font-family: RudaBlack;
    text-align: center;
}

.cardHead {
    margin: 1vh 0.5vw 0 0.5vw;
}

.cardContent {
    font-size: 1.5vw;
}

@media (max-width: 600px) {
    .sectionArea {
        flex-direction: column;
        height: 50vh;
    }

    .textArea {
        width: 100vw;
        padding-right: 10vw;
    }

    .cardsArea {
        width: 100vw;
        padding-right: 10vw;
    }

    .card{
        height: 20vh;
    }

    .cardContent {
        font-size: 0.7em;
    }

    .cardTitle {
        font-size: 4.7vw;
        margin-bottom: 1vh;
    }
}