.sectionArea {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #d6d8e3;
    color: #212427;
    padding: 1vh 10px 0 4vw;
    position: relative;
}

.textArea {
    display: flex;
    width: 35%;
    flex-direction: column;
}

.marginText {
    margin-right: 2vw;
}

.cardsArea {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 1vw 1vw 1vw 1vw;
}

.card {
    width: 30%;
    height: min(50vh,100%);
    min-height: 35vh;
    background-color: #F0F0F0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0.5vh 2vw 2vh 2vw;
}

.cardTitle {
    font-size: min(4.7vw, 4rem);
    margin-bottom: 2.5vh;
    font-family: MontserratArabic;
}

.cardSubTitle {
    font-size: min(2.2vw, 2rem);
    font-family: RudaBlack;
    text-align: center;
}

.cardHead {
    margin: 1vh 0.5vw 0 0.5vw;
}

.cardContent {
    font-size: min(1.5vw, 1.2rem);
}

@media (max-width: 600px) {
    .sectionArea {
        flex-direction: column;
    }

    .textArea {
        width: 100vw;
        padding-right: 10vw;
    }

    .cardsArea {
        width: 100vw;
        padding-right: 10vw;
    }

    .card{
        height: 10vh;
        padding-bottom: 10px;
        padding-top: 0px;
    }

    .cardContent {
        font-size: 0.7em;
    }

    .cardTitle {
        font-size: 4.7vw;
        margin-bottom: 1vh;
    }
}