.cover {
    height: 100%;
    width: 100vw;
    padding: 8vh 10px 0 4vw;
    color: #F0F0F0;
}

.wrap {
    height: max(45vw,50vh);
    overflow: hidden;
    background-color: #010F3D;
    margin-top: 10vh;
}

.bg {
    opacity: 0.05;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
}

.fakeBtn {
    background-color: #610770;
    width: 25vw;
    height: 11vh;
    padding: 1%;
    border-radius: 15px;
    font-size: max(2.6vw,18px);
}

.horizontalSplit {
    display: flex;
}

.secondColumn{
    text-align: center;
    width: 30%;
    padding-top: 2vh;
    margin-left: 1vw;
}

.firstColumn {
    width: 70%;
}

.verticalAlign {
    display: flex;
    align-items: center;
}

.line {
    margin-bottom: 2vh;
}

.subtitle {
    padding-right: 2vw;
    text-align: right;
    margin-left: 10vw;
}


@media (max-width: 600px) {
    .wrap {
        margin: 0px;
        overflow-x: hidden; 
        height: 45vh;
        overflow: hidden;
    }
    .cover {
        margin-top: 0;
        overflow: hidden;
    }

    .firstColumn {
        width: 100%;
    }

    .secondColumn{
        width: 0;
    }

    .subtitle {
        margin-left: 0;
    }

    .bg {
        height: 50vh;
        left: auto;
        right: 0;
        overflow: hidden;
    }

    .fakeBtn {
        width: 200px;
        height: 50px;
        padding: 0;
    }
}