html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Questrial, RudaBlack, MontserratArabic, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x:hidden;
  font-size: 1rem;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: MontserratArabic;
}

h2 {
  font-size: 1.7rem;
  margin: 0;
  font-family: RudaBlack;
}

h3 {
  font-size: 1.3rem;
  margin: 1vw 0 1vw 0;
  font-family: RudaBlack;
}

p{
  line-height: max(2vw,15px);
}


@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@font-face {
  font-family: "MontserratArabic";
  src: url("/Fonts/montserrat-arabic_semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "RudaBlack";
  src: url("/Fonts/ruda-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Questrial";
  src: url("/Fonts/questrial-regular-webfont.woff") format("woff");
}