.container {
    width: 100vw;
    margin: 0 -2rem 0 -2rem;
    padding-left: 15px;
    padding-right: max(calc(14.25vw - 116px), 10px);
    background-color: #010F3D;
    color: #f0f0f0;
    display: flex;
    z-index: 999;
}

.flex {
    display: flex;
}

.trophy {
    width: 30%;
    display: flex;
}

.textContainer {
    width: 100%;
    margin-top: 3vh;
    text-align: justify;
}

.centralize {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lMargin {
    margin-left: 2vw;
}

@media (max-width: 600px){
    .container {
        margin: 0;
    }

    .trophy {
        width: 0;
    }
}