.container {
    width: 100vw;
    padding: 30px 22%;
    background-color: #fff;
    color: #212427;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.flex {
    display: flex;
}

.trophy {
    display: flex;
}

.trophy img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 550px;
    max-width: 550px;
}

.invert {
    filter: invert(0.9);
}

.textContainer {
    width: 100%;
    max-width: max-content;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer h2 {
    color: #010f3d;
    font-weight: bolder;
}

.centralize {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lMargin {
    margin-left: 1vw;
}

@media (max-width: 600px){
    .container {
        margin: 0;
        padding: 1vh 4vw;
    }

    .trophy {
        width: 0;
        visibility: hidden !important;
    }
}