.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw 0 4vw;
    background-color: #fff;
    color: #00063c;
    font-weight: bold;
}

.nav_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 15%;
    min-width: 145.26px;
    min-height: 30px;
  }

.nav_right {
    display: flex;
    justify-content: space-around;
  }
  
.nav_link {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 0.9rem;
}

@media (max-width: 800px) {
  .navbar {
    height: 5vh;
    max-height: 50px;
  }

  .nav_left {
    width: 25%;
    min-width: auto;
    height: 4vh;
  }


  .nav_left a img {
    height: 4vh !important;
    min-height: 30px;
    max-height: auto;
    object-fit: cover;
    min-width: 25vw;
  }

  .flagsArea {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flagsArea a {
    display: flex;
  }
}