.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw 0 4vw;
    background-color: #fff;
    color: #00063c;
    font-weight: bold;
}

.nav_left {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 15%;
    min-width: 145.26px;
    min-height: 30px;
  }

.nav_right {
    display: flex;
    justify-content: space-around;
  }
  
.nav_link {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
  .navbar {
    height: 5vh;
  }

  .nav_left {
    width: 15%;
    min-width: 100px;
    min-height: 20.65px;
  }

  .nav_link  {
    width: 0;
    margin-left: 0;
    font-size: 0;
  }
}